body {
    background: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    height: 100vh;
    gap: 2rem;

}

.box-1,
.box-2,
.box-3 {
    cursor: pointer;
    width: 200px;
    height: 200px;
    transition: all 1s;
}

.box-1 {
    background: #f5cac3;
}

.box-2 {
    background: #84a59d;
}

.box-3 {
    background: #f28482;
}

.box-1:hover {
    background: #e5989b;
    border-radius: 50%;
    transform: rotateY(180deg);
}

.box-2:hover {
    background: #6d6875;
    border-radius: 20%;
    transform: rotateX(180deg);
}

.box-3:hover {
    background: #b5838d;
    border-radius: 50%;
    transform: rotateZ(180deg);
}